<connectionStrings>
  <add name="GroceryListDB"
       connectionString="Data Source=.; Initial Catalog=GroceryList; Integrated Security=true;"
       providerName="System.Data.SqlClient"/>
<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-GroceryListWebApp-20200922064024.mdf;Initial Catalog=aspnet-GroceryListWebApp-20200922064024;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
